/* General styles - put these straight into your stylesheet */


body {
  margin: 0;
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 10px;
  background-color: #ccc;
}

header{
  float: left;
  margin-bottom: 0%;
  padding: 0;
  width: 100%;
  font-size: 26px;

  background-color: red;
}

article {
  width: 100%;
  background-color: darkred;
  font-size: 16px;
  color: white;
}

section.card{
  width: 50%;
  padding: 0;
  height: 100%;
}

article img{
  height: 200px;
  float: right;  
}

article p{
  float: left;
}

footer{
  float: left;
  background-color: red;
  width: 100%;
  font-size: 24px;
}