/* Rectangle 1 */

#rectangle{
position: absolute;
width: 502px;
height: 103px;
background: #000000;
}
/* PAKITO SALADO */

p#pakito{
position: absolute;
width: 435px;
height: 103px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
text-align: center;
color: #FFFFFF;
}


/* Rectangle 2 */


position: absolute;
width: 16px;
height: 43px;

background: #FFFFFF;


/* Rectangle 15 */


position: absolute;
width: 16px;
height: 43px;

background: #FFFFFF;


/* Rectangle 20 */


position: absolute;
width: 16px;
height: 43px;

background: #FFFFFF;


/* Rectangle 19 */


position: absolute;
width: 16px;
height: 43px;

background: #FFFFFF;


/* Rectangle 18 */


position: absolute;
width: 16px;
height: 43px;

background: #FFFFFF;


/* Rectangle 17 */


position: absolute;
width: 16px;
height: 43px;

background: #FFFFFF;


/* Rectangle 16 */


position: absolute;
width: 16px;
height: 43px;

background: #FFFFFF;


/* Rectangle 14 */


position: absolute;
width: 16px;
height: 43px;

background: #FFFFFF;


/* Rectangle 13 */


position: absolute;
width: 16px;
height: 43px;

background: #FFFFFF;


/* Rectangle 12 */


position: absolute;
width: 16px;
height: 43px;

background: #FFFFFF;


/* Rectangle 11 */


position: absolute;
width: 16px;
height: 43px;

background: #FFFFFF;


/* Rectangle 23 */


position: absolute;
width: 16px;
height: 43px;

background: #FFFFFF;


/* Rectangle 22 */


position: absolute;
width: 16px;
height: 43px;

background: #FFFFFF;


/* Rectangle 25 */


position: absolute;
width: 16px;
height: 43px;

background: #FFFFFF;


/* Rectangle 24 */


position: absolute;
width: 16px;
height: 43px;

background: #FFFFFF;


/* Rectangle 21 */


position: absolute;
width: 16px;
height: 43px;

background: #FFFFFF;


/* Rectangle 10 */


position: absolute;
width: 16px;
height: 43px;

background: #FFFFFF;


/* Rectangle 9 */


position: absolute;
width: 16px;
height: 43px;

background: #FFFFFF;


/* Rectangle 8 */


position: absolute;
width: 16px;
height: 43px;

background: #FFFFFF;


/* Rectangle 7 */


position: absolute;
width: 16px;
height: 43px;

background: #FFFFFF;


/* Rectangle 6 */


position: absolute;
width: 16px;
height: 43px;

background: #FFFFFF;


/* Rectangle 5 */


position: absolute;
width: 16px;
height: 43px;

background: #FFFFFF;


/* Rectangle 4 */


position: absolute;
width: 16px;
height: 43px;

background: #FFFFFF;


/* Rectangle 3 */


position: absolute;
width: 16px;
height: 43px;

background: #FFFFFF;


/* Star 30 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 29 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 41 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 40 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 39 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 43 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 42 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 38 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 37 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 47 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 46 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 45 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 44 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 36 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 35 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 34 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 33 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 32 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 31 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 28 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 27 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 26 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 25 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 24 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 23 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 22 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 21 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 20 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 19 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 18 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 17 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 16 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 15 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 14 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 13 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 12 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 11 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 10 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 9 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 8 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 7 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 6 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 5 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 4 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 3 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Vector 4 */


position: absolute;
width: 12px;
height: 12px;

border: 1px solid #000000;
transform: rotate(21.94deg);


/* Star 2 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 48 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Star 49 */


position: absolute;
width: 4px;
height: 4px;

background: #00D1FF;


/* Vector 1 */


position: absolute;
width: 645px;
height: 285.47px;

border: 1px solid #000000;


/* Vector 2 */


position: absolute;
width: 18.5px;
height: 16.5px;

border: 1px solid #000000;
transform: rotate(25.96deg);


/* Vector 3 */


position: absolute;
width: 10px;
height: 10px;

border: 1px solid #000000;